name: Automated deploy

on:
  release:
    types: [created]

env:
  VERSION: ${{ github.event.release.tag_name }}
  TARGET_REF: ${{ github.event.release.target_commitish }}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15
            label: x64+arm64
            node_arch: x64
            command: build:gyp
            args: --arch x64+arm64
          - os: windows-2022
            label: x64
            node_arch: x64
            command: build:gyp
          - os: ubuntu-22.04
            label: linux-glibc
            command: build:gyp-cross
            args: -i almalinux-devtoolset11
          - os: ubuntu-22.04
            label: alpine
            command: build:gyp-cross
            args: -i alpine
          - os: ubuntu-22.04
            label: linux-arm
            command: build:gyp-cross
            args: -i linux-arm64 -i linux-armv7 -i linux-armv6
          - os: ubuntu-22.04
            label: linux-arm-musl
            command: build:gyp-cross
            args: -i linux-arm64-musl -i linux-armv7l-musl
          - os: ubuntu-22.04
            label: android-arm
            command: build:gyp-cross
            args: -i android-arm64 -i android-armv7
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.TARGET_REF }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          architecture: ${{ matrix.node_arch }}

      - name: Install dependencies
        run: npm ci

      - name: Prebuild package
        run: npm run ${{ matrix.command }} -- ${{ matrix.args }}

      - uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ matrix.os }}-${{ matrix.label }}
          path: prebuilds/
          if-no-files-found: error

  merge:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: build-artifacts
          pattern: build-artifacts-*

  deploy:
    needs: merge
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.TARGET_REF }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: prebuilds

      - name: Install dependencies
        run: npm ci

      - name: Publish to npm
        run: npm publish --provenance

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://npm.pkg.github.com'
          scope: '@NeuraLegion'

      - name: Publish to GPR
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
