name: Semantic release

on:
  push:
    branches:
      - master

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GPR_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm ci --ignore-scripts
      - run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GPR_TOKEN }}
